[submodule "frontend"]
	path = frontend
	url = https://github.com/erenasiroglu/langchain-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/erenasiroglu/langchain-hono-backend.git
